<h1>Hola 👋!, I'm <strong>Maxi</strong> from 🇦🇷 living on 🇩🇰</h1>

<p>
  <span>👨‍💻 Developer</span> -
  <span>✈️ Traveler</span> -
  <span>🚀 Maker</span> -
  <span>👨‍🍳 Chef Enthusiast</span> -
  <span>🐶 Pet lover</span>
</p>

## Posts

<ul>
  {{#posts}}
    <li><a href="{{url}}">{{title}}</a></li>
  {{/posts}}
</ul>

## Photos

<p>
  {{#photos}}
    <img width="200" src="{{url}}" />
  {{/photos}}
</p>
