<h1>Hola 👋!</h1>

<p>I'm <strong>Maxi</strong> a front-end developer from 🇦🇷 living on 🇩🇰</p>

<p>👨‍💻 Developer - ✈️ Traveler - 🚀 Maker - 👨‍🍳 Chef Enthusiast - 🐶 Pet lover</p>

<h2>Blog</h2>

<ul>
  {{#posts}}
    <li><a href="{{url}}">{{title}}</a></li>
  {{/posts}}
</ul>

<p>Last update: {{updated}}</p>
