article {
  line-height: 1.7;
  p, pre, figure, img, blockquote, iframed, embed {
    margin-bottom:2rem;
  }
  blockquote {
    padding-left:40px;
    margin-left:0px;
    font-style:italic;
    position:relative;
  }
  blockquote:before {
    content: "“";
    font-family: Georgia;
    font-size: 8rem;
    margin: -1rem 2rem 0 -3.9rem;
    position: absolute;
    opacity: 1;
    float: left;
    line-height: 1;
  }
  &:first-letter {
    float: left;
    font-size: 5em;line-height:1;
    margin: 0 .2em 0 0;vertical-align: top;
  }
  img {
    max-width: 100%;
  }
}
